#MoviesMainBody {
    margin: 10px;
    display: grid;
    grid-template-areas: "ANewHope Revenge";
    grid-gap: 10px;
    justify-items: center;
}

#ANewHope {
    grid-area: ANewHope;
}

#Revenge {
    grid-area: Revenge;
}

#ANewHope, #Revenge {
    max-width: 90%;
}

p {
    text-align: center;
}