#SeriesMainBody {
    margin: 10px;
    display: grid;
    grid-template-areas: "CloneWars Rebels";
    grid-gap: 10px;
    justify-items: center;
}

#CloneWars {
    grid-area: CloneWars;
}

#Rebels {
    grid-area: Rebels;
}

#CloneWars, #Rebels {
    max-width: 90%;
    align-self: center;
}

p {
    text-align: center;
}