* {
    box-sizing: border-box;
}

#CharactersMainBody {
    margin: 10px;
    display: grid;
    grid-template-areas: "Obi-Wan JarJar";
    grid-gap: 10px;
    justify-items: center;
}

#Obi-Wan_Kenobi {
    grid-area: Obi-Wan;
}

#JarJar {
    grid-area: JarJar;
}

#Obi-Wan_Kenobi, #JarJar {
    max-width: 90%;
}

p {
    text-align: center;
}