/*the grid*/
#DetailGrid {
    display: grid;
    grid-template: auto / minmax(0, 1fr) minmax(0, 1fr);
    grid-gap: 20px;

}

/*section items*/
.detailTitle {
    font-size: 60px;
    margin: 20px 0;
}

p {
    text-align: center;
}

/*section items*/
/*the grid*/

/*responsivnes*/
@media (max-width: 1200px) {
    #DetailGrid {
        grid-template: auto / minmax(0, 1fr);
    }
}
/*responsivnes*/