#DetailGrid {
    display: grid;
    grid-template: auto / minmax(0, 1fr) minmax(0, 1fr);
    grid-gap: 30px;

}

.detailTitle {
    font-size: 60px;
    margin: 20px 0;
}

p {
    text-align: center;
}