#DetailGrid {
    display: grid;
    grid-template: auto / minmax(0, 1fr) minmax(0, 1fr);
    grid-gap: 20px;

}

.detailTitle {
    font-size: 60px;
    margin: 20px 0;
}

p {
    text-align: center;
}

@media(max-width: 1200px) {
    #DetailGrid {
        grid-template: auto / minmax(0, 1fr);
    }
}