* {
    font-family: sans-serif;
}

html {
    background-color: #828282;
}

body {
    margin: 0;
}

header {
    background-color: #707070;
    color: white;
}

h1 {
    margin: 0;
    text-align: center;
    font-size: 80px;
}

nav {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 0 5px;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

