* {
    font-family: sans-serif;
    color: #FFE81F;
}

html {
    background-color: #828282;
}

body {
    height: 100%;
    margin: 0;
    background-image: url(../images/home_pagina/background.png);
    background-size: 100%;
}

header {
    background-color: #707070;
}

h1.mainPageTitle {
    margin: 0;
    text-align: center;
    font-size: 80px;
    color: white;
    -webkit-text-stroke: 0 #0000;
}

nav {
    display: flex;
    margin: 0 auto;
    padding-bottom: 10px;
    justify-content: center;
}

nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 0 5px;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

div#MainBody {
    margin: 10px;
}

div.HomePageGrid {
    display: grid;
    grid-template-areas:
    'Movies Series Characters';
    grid-gap: 10px;
}

h1 {
    color: transparent;
    -webkit-text-stroke: 2px #FFE81F;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

p {
    font-weight: bold;
    font-size: 20px;
}

div.MoviesText {
    grid-area: Movies;
}

div.SeriesText {
    grid-area: Series;
    text-align: center;
}

div.CharactersText {
    grid-area: Characters;
    text-align: center;
}

img {
    max-width: 100%;
}